page-login {
  
    .divEndereco {
        height: 44px;
        text-align: center;
        background: #F0F0F0 0% 0% no-repeat padding-box;
        

        .h2 {
            font: Regular 16px/19px Candara;
        }
    }
}
