<ion-content color="primary">

    <div padding>
      <ion-segment>
        <ion-segment-button value="login">
          Login
        </ion-segment-button>
        <ion-segment-button value="cadastrar">
          Cadastre-se
        </ion-segment-button>
      </ion-segment>
    </div>
  
    <!--
    <div>
        <ion-list *ngIf="login">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="img/thumbnail-puppy-1.jpg">
            </ion-thumbnail>
            <h2>Ruby</h2>
          </ion-item>
        </ion-list>
      
        <ion-list *ngIf="cadastrar">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="img/thumbnail-kitten-1.jpg">
            </ion-thumbnail>
            <h2>Luna</h2>
          </ion-item>
        </ion-list>
      </div>
  
      -->
  
      
    <div text-center>
      <img src="assets/imgs/logoS.png" alt="">
      <br>
    </div>
  
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
  
    <div text-center margin-top>
      <button ion-button margin-right block round on-click="entrar()">
        Entrar
      </button>
    </div>
  
    <div text-center margin-top>
      <button ion-button clean margin-right block round outline>
        Recuperar Senha
      </button>
    </div>
    <br>
    <br>
    <div text-center>
      <h4>Acesso rápido com</h4>
    </div>
  
    <ion-item no-lines>
      <button ion-fab color="facebook" item-start>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
  
      <button ion-fab color="white" item-start>
        <ion-icon name="logo-google"></ion-icon>
      </button>
  
    </ion-item>
  
  
    <!--
    <img src="assets/imgs/logoS.png" alt="">
    <br>
    <div>
      <h6 text-center>Se você já possui cadastro, indentifique-se!</h6>
    </div>
  
    <br>
    <br>
    <div text-center margin-top>
      <button ion-button icon-left round color="facebook">
        <ion-icon name="logo-facebook"></ion-icon>Logar com Facebook
      </button>
    </div>
  
    <div text-center margin-top>
      <button ion-button margin-right round on-click="chamaTelaLogin()">
        Fazer Login
      </button>
    </div>
  
    <br>
    <br>
    <div text-center margin-top>
      <button ion-button margin-right clear on-click="chamaTelaCriarConta()">
        Criar Conta
      </button>
    </div>
    <div text-center margin-top>
      <button ion-button margin-right clear>
        Recuperar Senha
      </button>
    </div>
  
    -->
  
  </ion-content>